<div id="footer">
  <div class="copyrights">2013  ©  Listening 福利請聽  ||  本福利來源以該單位最新頒佈為準，資料僅供參考，若有不正確之處請來信與我們反應。</div>
  <ul class="footer-links">
    <li><a href="http://www.facebook.com/pages/Listening-%E7%A6%8F%E5%88%A9%E8%AB%8B%E8%81%BD/173478432803859" title=""><i class="icon-cogs"></i> Facebook 粉絲團</a></li>
    <li><a class="bugsent"><i class="icon-screenshot"></i>回報Bug</a></li>
  </ul>
</div>


<script type="text/javascript">
      var wWidth = $(window).width();
      var wHeight = $(window).height();
      var alLeft = (wWidth-380)/2;
      var alTop = (wHeight-450)/2;
      var alLeft1 = (wWidth-500)/2;
      var alTop1 = (wHeight-550)/2;
      $('.bugsent').bind('click',function(){
        $('.bugsenddiv').css({'display':'block','top':alTop,'left':alLeft});
        $('.alertbg').css('display','block');
        $('.bugsenddiv').addClass('fadeIn');
      });
      $('.helpmebtn').bind('click',function(){
        $('.helpmediv').css({'display':'block','top':alTop1,'left':alLeft1});
        $('.alertbg').css('display','block');
        $('.helpmediv').addClass('fadeIn');
      });

      $('.bugcancel').bind('click',function(){
        $('.bugsenddiv').css('display','none');
        $('.alertbg').css('display','none');
        $('.bugsenddiv').removeClass('fadeIn');
      });
      $('.helpmecancel').bind('click',function(){
        $('.helpmediv').css('display','none');
        $('.alertbg').css('display','none');
        $('.helpmediv').removeClass('fadeIn');
      });
</script>

<script id="IntercomSettingsScriptTag">
  window.intercomSettings = {
    // TODO: The current logged in user's email address.
    email: "john.doe@example.com",
    // TODO: The current logged in user's sign-up date as a Unix timestamp.
    created_at: 1234567890,
    app_id: "171c4511b2660bc64f6c104d71ff6afa0bc66cbb"
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://api.intercom.io/api/js/library.js';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}};})()</script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-40052564-1']);
  _gaq.push(['_setDomainName', 'herokuapp.com']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

