<div id="top">
  <div class="fixed">
    <a href="/" title="" class="logo"><img src="img/logo_s.png" alt="" style="margin-top:0px"></a>
    <ul class="top-menu">
      <li><a class="aboutus helpmebtn" style="background:#EF705B;">Help Me!</a></li>
      <li><a class="aboutus" href="/postlist">新增福利</a></li>
      <li><a class="aboutus" href="/aboutus">關於我們</a></li>
      <li><a class="supportus" href="/sponsor">贊助我們</a></li>
      <li><a class="supportus" href="/login">管理登入</a></li>
      <!-- <li><a href="#" title="" class="messages"><i class="new-message"></i></a></li>
      <li class="dropdown">

        <a class="user-menu" data-toggle="dropdown"><img src="img/userpic.png" alt=""><span>Howdy, Eugene! <b class="caret"></b></span></a>
        <ul class="dropdown-menu">
          <li><a href="#" title=""><i class="icon-user"></i>Profile</a></li>
          <li><a href="#" title=""><i class="icon-inbox"></i>Messages<span class="badge badge-info">9</span></a></li>
          <li><a href="#" title=""><i class="icon-cog"></i>Settings</a></li>
          <li><a href="#" title=""><i class="icon-remove"></i>Logout</a></li>
        </ul>
      </li> -->
    </ul>
  </div>
</div>
<!-- 彈跳視窗部分 -->
<div class="alertbg"></div>
<div class="helpmediv animated">
  <div class="widget">
    <div class="navbar">
      <div class="navbar-inner"><h6>Help me!請幫幫我！</h6>
      </div>
    </div>
    <div class="wrapper">
      <div class="row-fluid">
      <h5>若本系統的搜尋無法解決您現在的問題（或是你需要更多的幫忙），我們設計這個發求助文平台，可以讓您的問題更廣泛的讓更多人知道，並且進一步幫助您！</h5>
      <p>＊為務必填寫</p>
      *標題：
      <input type="text" name="helpmetitle" class="span12">

      聯絡Email：（若您不想曝光可以不填寫）
      <input type="text" name="helpmeemail" class="span12">
      聯絡電話：（若您不想曝光可以不填寫）
      <input type="text" name="helpmephone" class="span12">

      是否希望在社群推廣？<a href="#">社群推廣詳細請看</a>
      <label class="radio">
        <input type="radio" name="optionsRadios" id="optionsRadios1" value="1" checked class="style">
        希望
      </label>
      <label class="radio">
        <input type="radio" name="optionsRadios" id="optionsRadios2" value="0" class="style">
        不希望
      </label>
      <!-- <label class="radio">
        <div class="choice" id="uniform-optionsRadios1">
        <span class="checked">
          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" class="styled" checked="" style="opacity: 0;">
        </span>
        </div>希望
      </label>
      <label class="radio">
        <div class="choice" id="uniform-optionsRadios2">
          <span class="">
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option2" class="styled" style="opacity: 0;">
          </span>
        </div>不希望
      </label> -->
      *內容：
      <textarea rows="5" cols="5" name="helpmetextarea" class="span12"></textarea>
      <br/><br/>
      <div class="btn btn-success" onclick="sendhelpme()">送出</div>
      <div class="btn btn-danger helpmecancel">取消</div>
      </div>
    </div>
      </div>
</div>
<div class="bugsenddiv animated">
  <div class="widget">
    <div class="navbar">
      <div class="navbar-inner"><h6>Bug 回報</h6>
      </div>
    </div>
    <div class="wrapper">
      <div class="row-fluid">
        <h5>感謝您對於本系統的支持與愛護，若您有發現本系統有需要改進的Bug或者是錯誤部分，歡迎您來信告知！萬分感謝！</h5>
        <p>＊為務必填寫</p>
        <form action='/bugsend' method='post'>
          *標題：
          <input type="text" name="bugtitle" class="span12">
          聯絡Email：
          <input type="text" name="bugemail" class="span12">
          *內容：
          <textarea rows="5" cols="5" name="bugtextarea" class="span12"></textarea>
          <br/><br/>
          <input type='submit' value='送出' class="btn btn-success">
          <div class="btn btn-danger bugcancel">取消</div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- 彈跳視窗部分結束 -->

