<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <title>Listening 福利請聽</title>
  <link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
  <link href="css/animate.css" rel="stylesheet" type="text/css" />
  <link href="css/introjs.css" rel="stylesheet" type="text/css" />
  <!--[if IE 8]><link href="css/ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type="text/javascript" src="/js/jquery.easytabs.min.js"></script>
  <script type="text/javascript" src="/js/jquery.hashchange.min.js"></script>
  <script type="text/javascript" src="/js/angular.min.js"></script>
  <script type="text/javascript" src="/js/ui-bootstrap-tpls-0.2.0.min.js"></script>
  <script type="text/javascript" src="/js/ui-bootstrap-0.2.0.min.js"></script>
  <script type="text/javascript" src="/js/collapse.js"></script>
  <script type="text/javascript" src="/js/angular-listening.js"></script>	
  <script type="text/javascript" src="/js/modernizr.custom.91888.js"></script>
  <script type="text/javascript" src="/js/intro.js"></script>

  <!--html 5 功能偵測 -->
  <script type="text/javascript">
	var lcstorage = 0;
	if (Modernizr.localstorage) {
	  // window.localStorage is available!
	  console.log('可以支援');
	  lcstorage = 1;
	} else {
	  console.log('不可以支援')
	  // 瀏覽器不支持HTML5 storage :(
	  // 可以考慮使用dojox.storage 或其他方法
	}
	</script>
</head>
