<!DOCTYPE html>
<html>
	<%= include head %>
	<body ng-app="lsMain">
		<%= include header %>
		<div id="container" ng-controller="lsController">
			<div id="sidebar">
				<div class="sidebar-tabs" id="sidebar-tabs">
			        <ul class="tabs-nav two-items">
			            <li class="active"><a href="#general"style="line-height:35px" opentab>搜尋設定</a></li>
			            <li class=""><a href="#stuff" style="line-height:35px">收藏福利清單</a></li>
			        </ul>
			        <div id="general">
			        	<form class="search widget" action="#">
				    		<div class="autocomplete-append">
					    		<!-- <ul class="search-options">
					    			<li><a href="#" title="" class="go-option tip" data-original-title="Go to search page"></a></li>
					    			<li><a href="#" title="" class="advanced-option tip" data-original-title="Advanced search"></a></li>
					    			<li><a href="#" title="" class="settings-option tip" data-original-title="Settings"></a></li>
					    		</ul> -->
					    		<input type="text" placeholder="輸入關鍵字" id="autocomplete" class="ui-autocomplete-input" autocomplete="off"><span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
					    		<input type="submit" class="btn btn-info" value="Search">
					    	<ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all" id="ui-id-1" tabindex="0" style="z-index: 1; display: none;"></ul></div>
		    			</form>
		    			<div class="widget">
		    				<h6 class="widget-name"><i class="ico-star"></i>請增加福利條件</h6>
		    			</div>
		    			<div class="widget">
							<div class="btn">單親</div> 
							<div class="btn">離婚</div> 
							<div class="btn">失業</div> 
							<div class="btn">失蹤</div> 
							<div class="btn">中輟生</div> 
							<div class="btn">原住民</div> 
							<div class="btn">勞保身分</div> 
							<div class="btn">職災者</div>
							<div class="btn">低收入戶</div>
							<div class="btn">中收入戶</div> 
							<br/>
							性別
							<div class="controls">
                                <div class="select2-container" id="s2id_autogen2"><a href="javascript:void(0)" onclick="return false;" class="select2-choice select2-default" tabindex="-1">   <span>請選擇性別...</span><abbr class="select2-search-choice-close" style="display: none;"></abbr>   <div><b></b></div></a><input class="select2-focusser select2-offscreen" type="text"></div><select data-placeholder="Choose a Country..." class="select select2-offscreen" tabindex="-1">
                                    <option value=""></option> 
                                    <option value="Cambodia">Cambodia</option> 
                                    <option value="Cameroon">Cameroon</option> 
                                    <option value="Canada">Canada</option> 
                                    <option value="Cape Verde">Cape Verde</option> 
                                </select>
                            </div>
							有無重大傷病
							<div class="controls">
                                <div class="select2-container" id="s2id_autogen2"><a href="javascript:void(0)" onclick="return false;" class="select2-choice select2-default" tabindex="-1">   <span>請選擇傷病史...</span><abbr class="select2-search-choice-close" style="display: none;"></abbr>   <div><b></b></div></a><input class="select2-focusser select2-offscreen" type="text"></div><select data-placeholder="Choose a Country..." class="select select2-offscreen" tabindex="-1">
                                    <option value=""></option> 
                                    <option value="Cambodia">Cambodia</option> 
                                    <option value="Cameroon">Cameroon</option> 
                                    <option value="Canada">Canada</option> 
                                    <option value="Cape Verde">Cape Verde</option> 
                                </select>
                            </div>
                            有無罕見疾病
                            <div class="controls">
                                <div class="select2-container" id="s2id_autogen2"><a href="javascript:void(0)" onclick="return false;" class="select2-choice select2-default" tabindex="-1">   <span>請選擇罕見疾病...</span><abbr class="select2-search-choice-close" style="display: none;"></abbr>   <div><b></b></div></a><input class="select2-focusser select2-offscreen" type="text"></div><select data-placeholder="Choose a Country..." class="select select2-offscreen" tabindex="-1">
                                    <option value=""></option> 
                                    <option value="Cambodia">Cambodia</option> 
                                    <option value="Cameroon">Cameroon</option> 
                                    <option value="Canada">Canada</option> 
                                    <option value="Cape Verde">Cape Verde</option> 
                                </select>
                            </div>
                            身心障礙程度
                            <div class="controls">
                                <div class="select2-container" id="s2id_autogen2"><a href="javascript:void(0)" onclick="return false;" class="select2-choice select2-default" tabindex="-1">   <span>請選擇身心障礙程度...</span><abbr class="select2-search-choice-close" style="display: none;"></abbr>   <div><b></b></div></a><input class="select2-focusser select2-offscreen" type="text"></div><select data-placeholder="Choose a Country..." class="select select2-offscreen" tabindex="-1">
                                    <option value=""></option> 
                                    <option value="Cambodia">Cambodia</option> 
                                    <option value="Cameroon">Cameroon</option> 
                                    <option value="Canada">Canada</option> 
                                    <option value="Cape Verde">Cape Verde</option> 
                                </select>
                            </div>
						</div>
				        <div class="widget">
				        	<h6 class="widget-name"><i class="ico-star"></i>他人推薦福利搜尋組合</h6>
				        	<ul class="social-stats">
				        		<li>
				        			<div style="width:20px;height:20px;margin-top:10px;border:1px solid #ccc;float:left;margin-left:0;border-radius:20px;"></div>
				        			<div style="margin-left:30px">
					        			<h4>聽障朋友買車</h4>
					        			<span>身障 買車 </span>
					        			<div class="btn">前往</div>	
					        		</div>

				        		</li>
				        		<li>
				        			<div style="width:20px;height:20px;margin-top:10px;border:1px solid #ccc;float:left;margin-left:0;border-radius:20px;"></div>
				        			<div style="margin-left:30px">
					        			<h4>肢障朋友申請輔具</h4>
					        			<span>身障 輔具申請</span>
					        			<div class="btn">前往</div>	
					        		</div>
				        		</li>
				        		<li>
				        			<div style="width:20px;height:20px;margin-top:10px;border:1px solid #ccc;float:left;margin-left:0;border-radius:20px;"></div>
				        			<div style="margin-left:30px">
					        			<h5>育兒基金</h5>
					        			<span>育兒基金申請 </span>
					        			<div class="btn">前往</div>	
					        		</div>
				        		</li>
				        	</ul>
				        </div>
			        </div>
			        <div id="stuff">
			        	<div class="widget">
		    				<h6 class="widget-name"><i class="ico-star"></i>以下是您所收藏的福利</h6>
		    			</div>
		    			<script type="text/javascript">
		    			 	if(lcstorage != 1){
							    document.write('<div class="widget"><h3>很抱歉您的瀏覽器不支援此項功能，建議更換到最新版本！</h3></div>');
							}
		    			</script>
		    			<div class="widget">
		    				<ul class="social-stats">
				        		<li>
				        			<div style="width:20px;height:20px;margin-top:10px;border:1px solid #ccc;float:left;margin-left:0;border-radius:20px;"></div>
				        			<div style="margin-left:30px">
					        			<h4>聽障朋友買車</h4>
					        			<span>身障 買車 </span>
					        			<br/>
					        			<div class="btn">前往</div>	
					        			<div class="btn btn-danger">刪除</div>
					        		</div>

				        		</li>
				        		<li>
				        			<div style="width:20px;height:20px;margin-top:10px;border:1px solid #ccc;float:left;margin-left:0;border-radius:20px;"></div>
				        			<div style="margin-left:30px">
					        			<h4>肢障朋友申請輔具</h4>
					        			<span>身障 輔具申請</span>
					        			<br/>
					        			<div class="btn">前往</div>	
					        			<div class="btn btn-danger">刪除</div>
					        		</div>
				        		</li>
				        		<li>
				        			<div style="width:20px;height:20px;margin-top:10px;border:1px solid #ccc;float:left;margin-left:0;border-radius:20px;"></div>
				        			<div style="margin-left:30px">
					        			<h5>育兒基金</h5>
					        			<span>育兒基金申請 </span>
					        			<br/>
					        			<div class="btn">前往</div>	
					        			<div class="btn btn-danger">刪除</div>
					        		</div>
				        		</li>
				        	</ul>
		    			</div>
			        </div>
			    </div>
		    </div>
		    <div class="notice_fr">
		    	<!-- <div class="help_fr">Help Me</div>
		    	<div class="add_fr">新增福利</div> -->
		    	<!-- <div class="span4">
				    		<ul class="round-buttons">
								<li><div class="depth" style="background-color:#ef705b;"><a href="" title="" class="tip" data-original-title="Add new post" ><i style="font-size:16px;line-height:60px">Help!</i></a></div></li>
								 <li><div class="depth" style="background-color:#4ca15b"><a href="" title="" class="tip" data-original-title="View statement"><i class="icon-plus"></i></a></div></li>
							</ul>
						</div> -->

		    </div>
		    <div id="content">
		    	<div class="wrapper">
		    		<div ng-controller="CollapseDemoCtrl">
		    		<div class="row-fluid">
						<div class="span12">
							<button class="btn" style="float:left;diplay:inline-block;margin-top:5px;">網站導覽</button>
							<h5 style="font-style: italic;margin-top:10px;text-align:center;diplay:inline-block">一個成功的社會並不是看富裕的人過得多優渥，而是弱勢的如何自在的生存
							<button class="btn" style="float:right;diplay:inline-block;margin-top:-5px;margin-left:2px"><a class="fullview"></a></button>
							<button class="btn" style="float:right;diplay:inline-block;margin-top:-5px;" ng-click="isCollapsed = !isCollapsed">隱藏</button></h5>
							
						</div>
					</div>
					<div class="actions-wrapper" collapse="isCollapsed">
		    		<div class="actions">
				    	<div id="user-stats">
				    		<div class="wrapper">
					    		<div class="row-fluid">
					    			<div class="span4">
					    				<h3>本站消息</h3>
					    				<p>我們即將陸續把政府福利法條.民間基金會.社會保險相關福利申請匯集在資料庫，如果您想一起協助我們增加福利資料庫，請善用右上角的"新增福利"選單！萬分感謝！</p>
					    				關於本系統簡介，
					    				<a href="/aboutus">請前往</a>
					    			</div>
					    			<div class="span8">
					    				<h3>民眾求助專區</h3>
					    				其他民眾求助，
					    				<a href="/aboutus">請前往</a>
					    			</div>
					    		</div>
					    	</div>
				    	</div>
				    	<div id="quick-actions">
				    		<ul class="statistics">
				    			<li>
				    				<div class="top-info">
					    				<a href="#" title="" class="blue-square"><i class="icon-plus"></i></a>
					    				<strong>12,476</strong>
					    			</div>
									<div class="progress progress-micro"><div class="bar" style="width: 60%;"></div></div>
									<span>User registrations</span>
				    			</li>
				    			<li>
				    				<div class="top-info">
					    				<a href="#" title="" class="red-square"><i class="icon-hand-up"></i></a>
					    				<strong>621,873</strong>
					    			</div>
									<div class="progress progress-micro"><div class="bar" style="width: 20%;"></div></div>
									<span>Total clicks</span>
				    			</li>
				    			<li>
				    				<div class="top-info">
					    				<a href="#" title="" class="purple-square"><i class="icon-shopping-cart"></i></a>
					    				<strong>562</strong>
					    			</div>
									<div class="progress progress-micro"><div class="bar" style="width: 90%;"></div></div>
									<span>New orders</span>
				    			</li>
				    			<li>
				    				<div class="top-info">
					    				<a href="#" title="" class="green-square"><i class="icon-ok"></i></a>
					    				<strong>$45,360</strong>
					    			</div>
									<div class="progress progress-micro"><div class="bar" style="width: 70%;"></div></div>
									<span>General balance</span>
				    			</li>
				    			<li>
				    				<div class="top-info">
					    				<a href="#" title="" class="sea-square"><i class="icon-group"></i></a>
					    				<strong>562K+</strong>
					    			</div>
									<div class="progress progress-micro"><div class="bar" style="width: 50%;"></div></div>
									<span>Total users</span>
				    			</li>
				    			<li>
				    				<div class="top-info">
					    				<a href="#" title="" class="dark-blue-square"><i class="icon-facebook"></i></a>
					    				<strong>36,290</strong>
					    			</div>
									<div class="progress progress-micro"><div class="bar" style="width: 93%;"></div></div>
									<span>Facebook fans</span>
				    			</li>
				    		</ul>
				    	</div>

				    	<div id="map">
				    		
				    	</div>
				    	<ul class="action-tabs">
				    		<li ><a href="#user-stats">最新消息</a></li>
				    		<li><a href="#quick-actions">本站流量統計</a></li>
				    		<li><a href="#map" id="map-link">福利庫統計</a></li>
				    	</ul>
				    </div>
					</div>
					</div>
					<div class="widget">
						地區：
						<div class="selector" id="uniform-undefined"><span>請選擇欲查詢地區</span>
							<select name="select2" class="styled" style="opacity: 0;">
		                        <option value="opt1">Option 1</option>
		                        <option value="opt2">Option 2</option>
		                        <option value="opt3">Option 3</option>
		                        <option value="opt4">Option 4</option>
		                        <option value="opt5">Option 5</option>
		                        <option value="opt6">Option 6</option>
		                        <option value="opt7">Option 7</option>
		                        <option value="opt8">Option 8</option>
	                    	</select>
	                    </div>
	                    福利類別：
	                    <div class="btn" ng-click="sel('education','教育')">教育</div>       
						<div class="btn" ng-click="sel('work','工作')">工作</div>
						<div class="btn" ng-click="sel('transportation','交通')">交通</div>
						<div class="btn" ng-click="sel('living','購屋住屋')">購屋住屋</div>
						<div class="btn" ng-click="sel('allowance','生活津貼')">生活津貼</div>
						<div class="btn" ng-click="sel('tax','稅捐減免')">稅捐減免</div>
						<div class="btn" ng-click="sel('medical','醫療照顧')">醫療照顧</div>
						<div class="btn" ng-click="sel('assistivedevice','輔具申請')">輔具申請</div>
						<div class="btn" ng-click="sel('emergency','急難救助')">急難救助</div>
						<div class="btn" ng-click="sel('socialinsurance','社會保險補助')">社會保險補助</div>
						
					</div>
		    		<!-- 當 -->
		    		<div class="widget">
						<div class="navbar">
							<div class="navbar-inner">
								<h6>當前搜尋條件:</h6>
								<!-- <div class="btn btn-success">高雄市政府</div>
								<div class="btn btn-success">身障（聽障）</div><div class="btn btn-success">輔具申請</div> -->
								<p>{{selList}}
								<button type="button" class="btn btn-info pull-right">儲存查詢組合</button>
								<button type="button" class="btn btn-danger pull-right" ng-click="clearsel()">清空查詢</button>
							</div>
						</div>
				        <div class="well invoice">
			                <div class="invoice-head">
			                    <a href="index.html" title="invoice" class="invoice-logo"><h1>身心障礙輔具補助辦法</h1></a>
			                    <ul class="pull-right minus-list invoice-data">
			                        <li>符合關鍵字： <div class="btn">身障</div><div class="btn">輔具申請</div></li>
			                        <li>其他關鍵字： 
			                        </li>
			                    </ul>
			                </div>
			                <div class="invoice-head">
			                    <a href="index.html" title="invoice" class="invoice-logo"><h1>聲暉協會輔具申請諮詢</h1></a>
			                    <ul class="pull-right minus-list invoice-data">
			                        <li>符合關鍵字： <div class="btn">身障</div><div class="btn">輔具申請</div></li>
			                        <li>其他關鍵字： 
			                        </li>
			                    </ul>
			                </div>	
			                <div class="invoice-head">
			                    <a href="index.html" title="invoice" class="invoice-logo"><h1>長庚醫院輔具申請檢查事項</h1></a>
			                    <ul class="pull-right minus-list invoice-data">
			                        <li>符合關鍵字： <div class="btn">身障</div><div class="btn">輔具申請</div></li>
			                        <li>其他關鍵字： 
			                        </li>
			                    </ul>
			                </div>		                
			            </div>
			            <div class="navbar">
							<div class="navbar-inner">
								<h6>增加搜尋條件</h6>
							</div>
						</div>
			            <div class="well invoice">
			                <div class="invoice-head">
			                    <a href="index.html" title="invoice" class="invoice-logo"><h1>BlaBla...</h1></a>
			                    <ul class="pull-right minus-list invoice-data">
			                        <li>符合關鍵字： <div class="btn">身障</div><div class="btn">輔具申請</div></li>
			                        <li>其他關鍵字： 
			                        </li>
			                    </ul>
			                </div>
			                <div class="invoice-head">
			                    <a href="index.html" title="invoice" class="invoice-logo"><h1>BlaBla...</h1></a>
			                    <ul class="pull-right minus-list invoice-data">
			                        <li>符合關鍵字： <div class="btn">身障</div><div class="btn">輔具申請</div></li>
			                        <li>其他關鍵字： 
			                        </li>
			                    </ul>
			                </div>
				        </div>
                	</div>
		    	</div>
		    </div>
		    <%= include footer %>
		</div>
		<script type="text/javascript">
			if(localStorage.listeningUser){
				console.log('yy');
				var userInfo = JSON.parse(localStorage.listeningUser);
				  window.intercomSettings = {
				    // TODO: The current logged in user's email address.
				    email: userInfo.username,
				    // TODO: The current logged in user's sign-up date as a Unix timestamp.
				    created_at: 1234567890,
				    app_id: "171c4511b2660bc64f6c104d71ff6afa0bc66cbb"
				  };
				  intercom ();
			}else{
				//console.log('nn')
				$.ajax({
					type: "POST",
					url: "/addNewUser",
					// data: { name: "John", location: "Boston" }
					success:function( data ) {
				  		console.log(data)
				  		var parseData = JSON.parse(data)
				  		localStorage.listeningUser = data;
				  		window.intercomSettings = {
							// TODO: The current logged in user's email address.
							email: parseData.username,
							// TODO: The current logged in user's sign-up date as a Unix timestamp.
							created_at: 1234567890,
							app_id: "171c4511b2660bc64f6c104d71ff6afa0bc66cbb"
						};
						intercom ();
				  	}
				});	
			}
			$('.fullview').click(function(){
			    $("body").toggleClass("clean");
			    $('#sidebar').toggleClass("hide-sidebar mobile-sidebar");
			    $('#content').toggleClass("full-content");
			});
			$('.sidebar-tabs').easytabs({
				animationSpeed: 150,
				collapsible: false,
				tabActiveClass: "active"
			});
			$('.actions').easytabs({
				animationSpeed: 300,
				collapsible: false,
				tabActiveClass: "current"
			});

			function intercom (){
				var w = window;
				var ic = w.Intercom;
				if (typeof ic === "function") {
					ic('reattach_activator');
					ic('update', intercomSettings);
				} else {
					var d = document;
					var i = function() {
						i.c(arguments)
					};
					i.q = [];
					i.c = function(args) {
						i.q.push(args)
					};
					w.Intercom = i;

					function l() {
						var s = d.createElement('script');
						s.type = 'text/javascript';
						s.async = true;
						s.src = 'https://api.intercom.io/api/js/library.js';
						var x = d.getElementsByTagName('script')[0];
						x.parentNode.insertBefore(s, x);
					}
					if (w.attachEvent) {
						w.attachEvent('onload', l);
					} else {
						w.addEventListener('load', l, false);
					}
				};	
			}

		</script>
	</body>
</html>