<!DOCTYPE html>
<html>
	<%= include head %>
	<body>
		<%= include header %>
		<div id="container">
			<div id="sidebar">
				<div class="sidebar-tabs" data-easytabs="true" style="">
			        <!-- <ul class="tabs-nav two-items">
			            <li class="active"><a href="#general" title="" class="active" style="line-height:35px">搜尋設定</a></li>
			            <li class=""><a href="#stuff" title="" class="" style="line-height:35px">收藏福利清單</a></li>
			        </ul> -->
			        <div id="general" style="display: block; position: static; visibility: visible;" class="active">
			        	<form class="search widget" action="#">
				    		<div class="autocomplete-append">
					    		<!-- <ul class="search-options">
					    			<li><a href="#" title="" class="go-option tip" data-original-title="Go to search page"></a></li>
					    			<li><a href="#" title="" class="advanced-option tip" data-original-title="Advanced search"></a></li>
					    			<li><a href="#" title="" class="settings-option tip" data-original-title="Settings"></a></li>
					    		</ul> -->
					    		<input type="text" placeholder="輸入查詢" id="autocomplete" class="ui-autocomplete-input" autocomplete="off"><span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
					    		<input type="submit" class="btn btn-info" value="Search">
					    	<ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all" id="ui-id-1" tabindex="0" style="z-index: 1; display: none;"></ul></div>
		    			</form>
		    			<div class="widget">
		    				<h6 class="widget-name"><i class="ico-star"></i>請增加推薦的條件</h6>
		    			</div>
		    			<div class="widget">
							<div class="btn">單親</div> 
							<div class="btn">離婚</div> 
							<div class="btn">失業</div> 
							<div class="btn">失蹤</div> 
							<div class="btn">中輟生</div> 
							<div class="btn">原住民</div> 
							<div class="btn">勞保身分</div> 
							<div class="btn">職災者</div>
							<div class="btn">低收入戶</div>
							<div class="btn">中收入戶</div> 
							<div class="btn btn-success">新增</div>
							<br/>
							新增其他Tag:
							<input type="text" placeholder="Tag名" name="tagname" class="span12" >
							<input type="text" placeholder="同義詞" name="similiar_name" class="span12">
							<div class="btn btn-danger">確定</div>
						</div>
				        <div class="widget">
				        	<a href="#">特殊情況？無法建立？</a>
				        	<br/>
				        	<a href="#">檢舉惡意內容？</a>
				        </div>
			        </div>
			    </div>
		    </div>
		    <div id="content">
		    	<div class="wrapper">
		    		<div class="row-fluid">
						<div class="span12">
							<h5 style="text-align:center;margin-top:10px;">新增福利資源</h5>
						</div>
					</div>
		    		<!-- 當 -->
		    		<div class="widget">
						<div class="navbar">
							<div class="navbar-inner">
								<div class="row-fluid addRaw">
								＊<input type="text" placeholder="法條.福利名稱"name="username" class="span11">
								</div>
							</div>
						</div>
						<div class="navbar">
							<div class="navbar-inner">
								<p>本人申請的條件</p>
								<div class="row-fluid addRaw">
								＊<input type="text" placeholder="法條.福利名稱"name="username" class="span11">
								</div>
							</div>
						</div>
						<div class="navbar">
							<div class="navbar-inner">
								<div class="row-fluid addRaw">
								<p>補助項目</p>
								1)<input type="text" placeholder="法條.福利名稱"name="username" class="span11">
								</div>
							</div>
						</div>
						<div class="navbar">
							<div class="navbar-inner">
								<div class="row-fluid addRaw">
								<p>＊資料來源</p>
								1)<input type="text" placeholder="請輸入資料來源"name="username" class="span11">
								</div>
							</div>
						</div>
						<div class="navbar">
							<div class="navbar-inner">
								<div class="row-fluid addRaw">
								<p>申請程序：</p>
								1)<input type="text" placeholder="請務必詳細說明"name="username" class="span11">
								</div>
							</div>
						</div>
						<div class="navbar">
							<div class="navbar-inner">
								<div class="row-fluid addRaw">
								<p>相關法條.福利：</p>
								1)<input type="text" placeholder="請務必詳細說明"name="username" class="span11">
								</div>
							</div>
						</div>
						<div class="navbar">
							<div class="navbar-inner">
								<div class="row-fluid addRaw">
								相關檔案:
								<br/>
								<input type="text" name="username" class="span8">
								</div>
							</div>
						</div>
						<div class="span12">
				    		<ul class="round-buttons">
								<li><div class="depth" style="background-color:#ef705b;"><a href="" title="" class="tip" data-original-title="Add new post" ><i style="font-size:16px;line-height:60px">說明</i></a></div></li>
								 <li><div class="depth" style="background-color:#"><a href="" title="" class="tip" data-original-title="View statement"><i style="font-size:16px;line-height:60px">儲存</i></a></div></li>
								 <li><div class="depth" style="background-color:#4ca15b;"><a href="" title="" class="tip" data-original-title="Add new post" ><i style="font-size:16px;line-height:60px">暫存</i></a></div></li>
								 <li><div class="depth" style="background-color:#4ca15b;"><a href="" title="" class="tip" data-original-title="Add new post" ><i style="font-size:16px;line-height:60px">清空</i></a></div></li>
							</ul>
						</div>
                	</div>
		    	</div>
		    </div>
		    <%= include footer %>
		</div>
	</body>
</html>