<!DOCTYPE html>
<html>
	<%= include head %>
	<body>
		<%= include header %>
		<div id="container">
			<div class="wrapper">
				<div id="problems">
					<header>
					<br/>
					<h1>贊助我們</h1>
					<!-- <span>Problems we encounter now...If you have any idea, welcome to discuss with us!</span> -->
					</header>
					<p>（內容待補）</p>
					

					
				</div>
			</div>
		    <%= include footer %>
		</div>
	</body>
</html>